@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-cherry-bomb: "Cherry Bomb";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-36xl: 55px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-linen: #f2e7de;
  --color-antiquewhite: #e9dbd0;
  --color-lightcoral: #ff9689;
  --color-lightcoral-100: #db7a7a;
  --color-darksalmon: #ff9886;
  --color-darksalmon-100: #cd7f74;
  --color-white: #fff;
  --color-gray: rgba(0, 0, 0, 0.1);
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-xl: 20px;
  --br-3xs: 10px;
}
