.image-10-icon,
.image-9-icon {
  position: absolute;
  top: 0;
  left: 85px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.image-10-icon {
  top: 37px;
  left: 1302px;
  width: 250px;
  height: 250px;
}
.decor {
  position: absolute;
  top: calc(50% + 233px);
  left: calc(50% - 805px);
  width: 1599px;
  height: 300px;
}
.lexis-adventure-time {
  position: absolute;
  top: 388px;
  left: 168px;
  display: inline-block;
  width: 380px;
  height: 30px;
}
.image-8-icon,
.vid2 {
  position: absolute;
  top: 0;
  width: 650px;
}
.image-8-icon {
  left: 0;
  border-radius: var(--br-3xs);
  height: 380px;
  object-fit: cover;
}
.vid2 {
  left: 722px;
  height: 418px;
  cursor: pointer;
}
.new-sweetie {
  position: absolute;
  top: 389px;
  left: 138px;
  display: inline-block;
  width: 511px;
  height: 27px;
}
.vid1 {
  position: absolute;
  top: 0;
  left: 34px;
  width: 650px;
  height: 416px;
  cursor: pointer;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 48.54%;
  width: 64.71%;
  top: 25.71%;
  right: 17.68%;
  bottom: 25.75%;
  left: 17.61%;
}
.right-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 17.04%;
  width: 4.85%;
  top: 39.47%;
  right: 0;
  bottom: 43.49%;
  left: 95.15%;
}
.vector-icon3 {
  position: absolute;
  height: 47.86%;
  width: 64.71%;
  top: 28.08%;
  right: 17.68%;
  bottom: 24.06%;
  left: 17.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.left-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 17.04%;
  width: 4.85%;
  top: 39.47%;
  right: 95.15%;
  bottom: 43.49%;
  left: 0;
}
.recommend-for-you {
  position: absolute;
  top: -56px;
  left: 34px;
  font-size: var(--font-size-xl);
  line-height: 24px;
  text-transform: uppercase;
  font-family: var(--font-cherry-bomb);
  color: var(--color-lightcoral-100);
  text-align: center;
}
.animals,
.rcm {
  position: absolute;
}
.rcm {
  bottom: 81px;
  left: calc(50% - 703px);
  width: 1406.16px;
  height: 418px;
}
.animals {
  top: 182px;
  left: 18.78px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 202.43px;
  height: 29.92px;
}
.cate1,
.thumnail1-icon {
  top: 0;
  left: 0;
  width: 240px;
}
.thumnail1-icon {
  position: absolute;
  border-radius: var(--br-3xs);
  height: 172px;
  object-fit: cover;
}
.cate1 {
  height: 211.92px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.art,
.cate1,
.cate2 {
  position: absolute;
}
.art {
  top: 182px;
  left: 87.65px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 59.48px;
  height: 23.42px;
}
.cate2 {
  top: 0;
  left: 274px;
  width: 240px;
  height: 205.42px;
  cursor: pointer;
}
.creative {
  position: absolute;
  top: 182px;
  left: 19px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 202.43px;
  height: 29.64px;
}
.cate3 {
  top: 0;
  left: 548px;
  width: 240px;
  height: 211.64px;
  cursor: pointer;
}
.cate3,
.cate4,
.numbers {
  position: absolute;
}
.numbers {
  top: 182px;
  left: 19px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 202.43px;
  height: 29.37px;
}
.cate4 {
  top: 0;
  left: 822px;
  width: 240px;
  height: 211.37px;
  cursor: pointer;
}
.cartoons {
  position: absolute;
  top: 182px;
  left: 19px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 202.43px;
  height: 29.78px;
}
.cate5 {
  position: absolute;
  top: 0;
  left: 1095px;
  width: 240px;
  height: 211.78px;
  cursor: pointer;
}
.top-categories {
  position: absolute;
  top: -65px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 24px;
  text-transform: uppercase;
  font-family: var(--font-cherry-bomb);
  color: var(--color-lightcoral-100);
}
.category {
  position: absolute;
  top: 215px;
  left: calc(50% - 666px);
  width: 1335px;
  height: 201px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.home-icon,
.kidtube1 {
  position: absolute;
  top: 52px;
  left: 98px;
  width: 23px;
  height: 14.94px;
  display: none;
}
.kidtube1 {
  top: 11px;
  left: 0;
  display: inline-block;
  width: 204px;
  height: 88px;
}
.logo-child {
  position: absolute;
  height: 32.66%;
  width: 27.62%;
  top: 15.15%;
  right: -17.68%;
  bottom: 52.18%;
  left: 90.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo {
  position: absolute;
  top: 16px;
  left: calc(50% - 91px);
  width: 181px;
  height: 66px;
}
.button,
.search {
  position: absolute;
  font-family: var(--font-inter);
}
.search {
  border: 0;
  font-size: var(--font-size-sm);
  background-color: var(--color-gray);
  top: 31px;
  left: 74px;
  border-radius: var(--br-xl);
  width: 350px;
  height: 45px;
}
.button {
  top: calc(50% - 13px);
  left: 24.1%;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
}
.sign-up {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightcoral);
  position: absolute;
  top: 34px;
  right: 227px;
  border-radius: var(--br-31xl);
  width: 126px;
  height: 48px;
}
.login:hover,
.sign-up:hover {
  background-color: var(--color-darksalmon-100);
}
.button1 {
  width: 75.61%;
  top: calc(50% - 13px);
  left: 12.99%;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.button1,
.header,
.login {
  position: absolute;
}
.login {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightcoral);
  top: 34px;
  right: 71px;
  border-radius: var(--br-31xl);
  width: 126px;
  height: 48px;
}
.header {
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-antiquewhite);
  width: 1440px;
  height: 108px;
  font-size: var(--font-size-36xl);
  color: var(--color-darksalmon);
  font-family: var(--font-cherry-bomb);
}
.kidtube {
  position: relative;
  background-color: var(--color-linen);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
