.kidtube2 {
  position: absolute;
  top: 11px;
  left: 0;
  display: inline-block;
  width: 204px;
  height: 88px;
}
.logo-item {
  position: absolute;
  height: 32.66%;
  width: 27.62%;
  top: 15.15%;
  right: -17.68%;
  bottom: 52.18%;
  left: 90.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo1 {
  position: absolute;
  top: calc(50% - 404px);
  left: calc(50% - 91px);
  width: 181px;
  height: 66px;
  cursor: pointer;
}
.image-10-icon1,
.image-9-icon1 {
  position: absolute;
  top: 25px;
  left: 1279px;
  width: 230px;
  height: 249px;
  object-fit: cover;
}
.image-10-icon1 {
  top: 50px;
  left: 69px;
  width: 250px;
  height: 250px;
}
.decor1 {
  position: absolute;
  bottom: -26px;
  left: calc(50% - 789px);
  width: 1599px;
  height: 300px;
}
.pass,
.password {
  position: absolute;
  width: 605px;
  height: 69px;
}
.pass {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.password {
  top: 197px;
  left: -8px;
}
.give-us-the {
  border: 0;
  font-family: var(--font-cherry-bomb);
  font-size: var(--font-size-13xl);
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 9px;
  letter-spacing: 0.5px;
  line-height: 13px;
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.25;
}
.email {
  position: absolute;
  top: 160px;
  left: 0;
  width: 605px;
  height: 69px;
}
.write-your-childs {
  border: 0;
  font-family: var(--font-cherry-bomb);
  font-size: var(--font-size-13xl);
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 8px;
  letter-spacing: 0.5px;
  line-height: 13px;
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.25;
}
.name {
  top: 0;
  left: 0;
  width: 605px;
  height: 69px;
}
.butt,
.button2,
.name {
  position: absolute;
}
.button2 {
  width: 51.59%;
  top: calc(50% - 21px);
  left: 24.32%;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  text-transform: uppercase;
  font-family: var(--font-cherry-bomb);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.butt {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightcoral);
  height: 16.67%;
  width: 30.58%;
  top: 113.16%;
  right: 34.71%;
  bottom: -29.82%;
  left: 34.71%;
  border-radius: var(--br-31xl);
}
.butt:hover {
  background-color: var(--color-darksalmon-100);
}
.log-child {
  top: 289px;
  left: -87px;
  width: 308.01px;
  height: 4px;
}
.log-child,
.log-item,
.or {
  position: absolute;
}
.log-item {
  top: 289px;
  left: 374px;
  width: 308.01px;
  height: 4px;
}
.or {
  top: 110px;
  left: calc(50% - 22.5px);
  letter-spacing: 0.5px;
  line-height: 13px;
}
.and1 {
  margin: 0;
}
.and,
.log {
  position: absolute;
}
.and {
  top: 280px;
  left: calc(50% - 29.5px);
  letter-spacing: 0.5px;
  line-height: 13px;
}
.log {
  top: 284px;
  left: calc(50% - 303px);
  width: 605px;
  height: 456px;
  font-size: var(--font-size-13xl);
}
.login1 {
  position: relative;
  background-color: var(--color-linen);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: var(--color-darksalmon);
  font-family: var(--font-cherry-bomb);
}
